.main {
  font-family: "Sans Serif";
}

.cardBorder {
  font-family: "Helvetica Neue";
  border: 1px solid grey;
  text-align: center;
  margin-top: 175px;
}

.cardContents {
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Helvetica Neue";
  text-align: left;
}

li {
  list-style : none;
  margin-left: 10px;
}

.contentHeader{
  text-align: center;
}

.contents {
  font-family: "Helvetica Neue";
  border: 1px solid grey;
}

.oneTwo {
  margin-left: 20px;
}

.oneThree {
  margin-left: 20px;
}

.contentsList {
  list-style: none
}

.contentLinks {
  text-align: left;
}

.globe {
  margin-top: 10px;
  height: 120px;
  width: 120px;
  text-align: center;
  font-family: "Sans Serif";
  font-weight: bold;
}

.mainText {
  font-size: large
}

.lifeCareer{
  margin-top: 20px;
}

.lifeCareerHeader {
  font-family: "Sans Serif";
  font-size: 20px;
}
