.main {
  font-family: "Sans Serif";
}

h3 {
  margin: 5px 0 0 0;
}

.h3Tag {
  margin-top: 5px
}

hr  {
  margin: 0 0 0 0;
  border-color: #AAAAAA;
  margin-right: -1000px;
}


.cardBorder {
  font-family: "Helvetica Neue";
  border: 1px solid grey;
  text-align: center;
  margin-top: 120px;
  background-color: #f9f9f9;
}

.cardContents {
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Helvetica Neue";
  text-align: left;
}

li {
  list-style : none;
  padding-right: 10px;
}

.contentHeader{
  text-align: center;
}

.contents {
  font-family: "Helvetica Neue";
  border: 1px solid grey;
  margin-left: -5px;
}

.oneTwo {
  margin-left: 20px;
}

.oneThree {
  margin-left: 20px;
}

.contentLinks {
  text-align: left;
  margin-left: 10px;
}

.globe {
  margin-top: 10px;
  font-family: "Sans Serif";
  font-weight: bold;
  max-width: 100%;
}

.globeFrame {
  text-align: center;
}

.nav {
  text-align: center;
}

.navFrame {
  border-right: 1px solid #A7D7F9;
/*  background-color: #f9f9f9;*/
}

.navHeader {
  text-align: center;
  font-family: "Linux Libertine";
}

.mainText {
  font-size: large
}

.lifeCareer{
  margin-top: 20px;
}

.lifeCareerHeader {
  font-family: "Sans Serif";
  font-size: 20px;
}

.contactMe {
  text-align: right;
  padding-right: 10px;
  font-size: 20px;
  border-bottom: 1px solid #A7D7F9;
  background-color: #f9f9f9;
  margin-top: -10px;
}

.contactMeItems {
  display: inline;
}

.headshot {
  max-width: 100%;
}

.twitBlue {
  height: 16px;
  width: 16px;
}

.pHeaders {
  margin: 0 0 -5px 0;
}
