.main {
  font-family: "Sans Serif";
  margin-left: 25px;
}

h3 {
  margin: 15px 0 0 0;
}

a{
  text-decoration: none;
  color: #0645B2;
}

.h3Tag {
  margin-top: 5px
}

.paragraphHr {
  border-color: #AAAAAA;
  margin: 0 0 0 0;
}

.topHr  {
  margin: 0  0 0;
  width: 100%;
  border-color: #AAAAAA;
}

.cardBorder {
  font-family: "Helvetica Neue";
  border: 1px solid grey;
  text-align: center;
  margin-top: 120px;
  background-color: #f9f9f9;
}

.cardContents {
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Helvetica Neue";
  text-align: left;
}

li {
  list-style : none;
  padding-right: 10px;
}

.contentHeader{
  text-align: center;
}

.contents {
  font-family: "Helvetica Neue";
  border: 1px solid grey;
  margin-left: -5px;
  background-color: #f9f9f9;
}

.oneTwo {
  margin-left: 20px;
}

.oneThree {
  margin-left: 20px;
}

.contentLinks {
  text-align: left;
  margin-left: 10px;
}

.globe {
  margin-top: 10px;
  font-family: "Sans Serif";
  font-weight: bold;
  max-width: 100%;
  height: 105px;
  width: 105px;
}

.globeFrame {
  text-align: center;
}

.nav {
  text-align: center;
}

.navFrame {
  border-right: 1px solid #A7D7F9;
  border-bottom: 1px solid #A7D7F9;
  padding-right: 10px;
  background-color: #f9f9f9;
}

.navHeader {
  text-align: center;
  font-family: "Linux Libertine";
}

.navTag{
  margin-top: -30px;
  font-size: 13px;
  font-family: "Linux Libertine";
  text-align: center;
}

.mainText {
  font-size: 1em;
  font-family: sans-serif;
}

.lifeCareer{
  margin-top: 20px;
}

.lifeCareerHeader {
  font-family: sans-serif;
  font-size: 1em;
}

.socialMediaContainer {
  text-align: right;
  padding-right: 10px;
  font-size: 20px;
  border-bottom: 1px solid #A7D7F9;
  background-color: #f9f9f9;
  margin-top: -10px;
}

.contactMeItems {
  display: inline;
}

.headshot {
  max-width: 80%;
}

.twitBlue {
  height: 40px;
  width: 40px;
}

.linkedIn {
  height: 36px;
  width: 44px;
  margin-top: 5px;
}

.strava {
  height: 40px;
  width: 40px;
  margin-top: 5px;
  padding-left: 2px;
}

.github {
  height: 40px;
  width: 40px;
  margin-top: 5px;
  padding-left: 2px;
}

.pHeaders {
  margin: 0 0 -5px 0;
}

.waterfall {
  padding-left: 5%;
  max-width: 90%;
  margin-top: 10px;
}

.waterfallContainer {
  margin-top: 15px;
  border: 1px solid #CCC;
}

.waterfallTagline {
  text-align: center;
  font-size: 11px;
  font-family: sans-serif;
  margin-bottom: 10px;
}

.nfsc {
  margin-top: 10px;
  max-width: 90%;
  padding-left: 5%;
}

.nfscContainer {
  border: 1px solid #CCC;
}

.nfscTagline {
  text-align: center;
  font-size: 11px;
  font-family: sans-serif;
  margin-bottom: 10px;
}

.nfscDescription {
  font-size: 1em;
  font-family: sans-serif;
}

.crHref {
  border: none;
}

.cRun {
  margin-top: 10px;
  padding-left: 5%;
  max-width: 90%;
}

.crunDescription {
  font-size: 1em;
  font-family: sans-serif;
}

.crunContainer {
  border: 1px solid #CCC;
}

.crunTagline {
  font-family: sans-serif;
  text-align: center;
  font-size: 11px;
  margin-bottom: 10px;
}

.socialMedia {
  display: inline;
}

.socialMediaList {
  margin-bottom: 2px;
}

.projects {
  margin-top: 10px;
  font-size: 1em;
}
